*
{
    padding: 0;
    border: 0;
    margin: 0;
}

#barra
{
    padding: 10px 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    position:fixed;
}

.pocision
{
    display: flex!important;
    flex-basis: auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
}
#items a
{
    display: inline;
    align-content: space-between;
}

#busqueda
{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}